body {
  margin: 0;
}

/* HEADER */

header {

  background-color: red;
  padding: 50px 0;
  text-align: center;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

}

header h1 {

  color: white;
  font-size: 4rem;

}

/* MAIN */

main {
  
  margin: 0 auto;
  border: 2.5px solid black;
  padding: 50px 0;
  background-color: red;
  width: 50%;
  text-align: center;

}

main h2 {

  font-size: 3rem;
  color: white;
  margin-bottom: 40px;

}

.button {

  padding: 2.5px 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 25%;

}