* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(241,245,249);
  font-family: Muli, sans-serif;
}

.container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.padding-xl {

  padding: 75px 0

}

.font-size-xl {

  font-size: 2.25rem;

}

/* HEADER */

header {

  background-color: rgb(193, 41, 46);
  border-bottom: 10px solid rgb(182, 39, 44);
  padding: 12.5px 0;
  text-align: center;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  margin-bottom: 50px;

}

header h1 {

  color: white;
  font-size: 3rem;
  font-family: "Space Mono", monospace;

}

/* NAVBAR */

.lista-opciones {

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  border-top-right-radius: 5px;
  height: min-content;
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);

}

.lista-opciones button {

  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(193, 41, 46);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: left;
  font-family: "Space Mono", monospace;

}

button:first-child {

  border-top-right-radius: 5px;

}

button:last-child {

  border-bottom-right-radius: 5px;

}

/* MAIN */

main {
  
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  padding: 10px 0;
  background-color: rgb(255,255,255);
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;

}

main h2 {

  font-size: 3rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 20px;

}

.button {

  padding: 2.5px 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 25%;

}

/* FORMULARIO */

form {

  padding: 20px 10px;
  color: rgb(40, 40, 40);
  font-size: 1.5rem;

}

select {

  width: 100%;
  font-size: 1.25rem;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;

}

select:focus {

  border: 2px solid rgb(193, 41, 46);

}

input[type="number"] {

  padding: 5px 10px;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  display: block;
  width: 100%;
  outline: none;
  margin-top: 2px;
  font-family: "Space Mono", monospace;
  font-family: "Space Mono", monospace;

}

input[type="number"]:focus {
  border: 2px solid rgb(193, 41, 46);
}

input[type="submit"] {

  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(193, 41, 46);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 33.3%;
  cursor: pointer;
  font-family: "Space Mono", monospace;

}

input[type="button"] {

  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(112,102,224);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 33.3%;
  cursor: pointer;
  font-family: "Space Mono", monospace;

}

input[type="submit"]:hover {

  background-color: rgb(182, 39, 44)

}

input[type="submit"]:focus {

  outline: 3px solid rgb(250, 90, 95)

}

input[type="button"]:hover {

  background-color: rgb(102, 90, 233)

}

input[type="button"]:focus {

  outline: 3px solid rgb(161, 153, 248)

}

.campo {

  width: 75%;
  margin: auto;
  text-align: left;

}

.p-form {

  margin-top: 10px;
  color: rgb(193, 41, 46);
  font-size: medium;

}

/* MODAL */

.modal {

  display: flex;
  position: fixed;
  z-index: 1;
  padding: 100px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 100%;

}

.modal-content {

  background-color: rgb(255,255,255);
  margin: auto;
  padding: 25px 0;
  border: 1px outset rgb(40, 40, 40);
  border-radius: 5px;
  width: 40%;
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);

}

.modal-content h3 {

  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: bold;

}

.p-error {

  margin-top: 10px;
  color: rgb(193, 41, 46);
  font-size: 1.125rem;
  font-weight: bold;

}

.p-success {

  margin-top: 10px;
  color: black;
  font-size: 2rem;
  font-weight: bold;

}

.button-modal {

  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(112,102,224);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 33.3%;
  cursor: pointer;
  font-family: "Space Mono", monospace;

}

.button-modal:hover {

  background-color: rgb(102, 90, 233)

}

.button-modal:focus {

  outline: 3px solid rgb(161, 153, 248)

}

.btn-success {

  background-color: rgb(65,173,73);

}

.btn-success:hover {

  background-color: rgb(55, 151, 62);

}

.btn-success:focus {

  outline: 3px solid rgb(95, 168, 100);

}