body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: auto;
}

/* HEADER */

header {

  background-color: red;
  padding: 50px 0;
  text-align: center;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

}

header h1 {

  color: white;
  font-size: 4rem;

}

/* MAIN */

main {
  
  border: 2.5px solid black;
  padding: 50px 0;
  background-color: red;
  width: 50%;
  text-align: center;

}

main h2 {

  font-size: 3rem;
  color: white;
  margin-bottom: 40px;

}

.button {

  padding: 2.5px 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 25%;

}

/* FORMULARIO */

form {

  border: 2px black solid;
  padding: 50px 25px;
  color: white;
  font-size: 1.5rem;
  text-align: left;

}

input[type="text"] {

  padding: 2.5px 5px;
  border-radius: 5px;
  display: block;
  width: 100%;

}

.form-container {

  margin-top: 40px;

}

.campo {

  width: 60%;
  margin: auto;
  margin-bottom: 10px;

}