* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(241,245,249);
}

.container {
  width: 60%;
  margin: auto;
}

/* HEADER */

header {

  background-color: rgb(193, 41, 46);
  border-bottom: 25px solid rgb(130, 41, 46);
  padding: 12.5px 0;
  margin-bottom: 100px;
  text-align: center;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

}

header h1 {

  color: white;
  font-size: 3rem;

}

/* MAIN */

main {
  
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  padding: 50px 0;
  background-color: rgb(255,255,255);
  width: 50%;
  text-align: center;

}

main h2 {

  font-size: 3rem;
  color: black;
  margin-bottom: 40px;

}

.button {

  padding: 2.5px 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 25%;

}

/* FORMULARIO */

form {

  padding: 50px 25px;
  color: black;
  font-size: 1.5rem;

}

input[type="text"] {

  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  width: 100%;

}

input[type="submit"] {

  margin-top: 20px;
  padding: 2.5px 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 60%;

}

.form-container {

  margin-top: 40px;

}

.campo {

  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;

}